<!-- --- HOSPITAL SELECTION PAGE ----->

<!-- HEADER SECTION -->
<%-  include('header') -%>

<!-- NAVBAR SECTION -->
<%- include('navbar') -%>


<div id="hospital">
<div class="heading" style="margin-bottom: 3%;"><span> SELECT HOSPITAL </span></div>

<div id="hospital-list">

    <% for(var i=0; i<hospital.length; i++){ %>
    <div class="hospital-item">
        <div class="hospital-name"><%= hospital[i].name %></div>
        <div class="hospital-address"><%= hospital[i].address %></div>
        <form action="/hospital" method="post">
            <input name="userName" value="<%= userName %>" style="display: none;">
            <input name="phoneNumber" value="<%= phoneNumber %>" style="display: none;">
            <input name="hospitalName" value="<%= hospital[i].name %>" style="display: none;">
            <input name="hospitalAddress" value="<%= hospital[i].address %>" style="display: none;">
           <button type="submit" class="hospital-button">SELECT NOW</button> 
        </form>    
    </div><% } %>
</div>


<!-- CONTACT SECTION -->
<%- include('contact') -%>

<!-- FOOTER SECTION -->
<%- include('footer') -%>