<!-- --- COMPLETED CASE PAGE --- -->

<!-- HEADER SECTION -->
<%- include('header') -%>

<!-- NAVBAR SECTION -->
<%- include('navbar') -%>

<div id="complete" style="padding-top: 4%;">

    <div class="heading" style="margin-top: 0%; padding-top: 0%; margin-bottom: 30px;"><span style="color: #0b11a8;"><%= hospitalName %></span></div>
    
    <div id="complete-container">
        <% if(elem.length==0){ %>
            <div class="heading"><span style="color: green;">NO CASE TO SHOW</span></div>
        <% } %>
        
        <% for(var i=0;i<elem.length;i++){ %>
            <div class="completeBox">
                <div style="font-size: medium;">Patient Name: <%= elem[i]['patientName'] %></div>
                <div style="font-size: medium;">Patient Number: <%= elem[i]['patientNum']%></div>
                <div style="font-size: medium;">Patient Address: <%= elem[i]['patientAddress']%></div>
            </div>
        <%}%>
    </div>

</div>

<!-- CONTACT SECTION -->
<%- include('contact') -%>

<!-- FOOTER SECTION -->
<%- include('footer') -%>